# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=appcobro

# Configuración del Servidor
PORT=3000

# Credenciales de Google Sheets API
GOOGLE_SHEET_ID=tu_google_sheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu_service_account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# Otras configuraciones
NODE_ENV=development